#container{
    margin: 0 auto;
    background-color: lightseagreen;
    height:180px;
    width: 100%;
    position: fixed;
    top: -3px;
    left: -3px;
    border: 2px, solid, green;
    
    text-align: center;
}

body {
    font-family: 'Viga', sans-serif;
    background-image: url("../img/opacity.jpg");
    background-blend-mode: lighten;
    width:100%;
    height:1000px;
    
}

#bigtext{
    font-size: 50px;
}

#eye {
    width:80px;
    height:80px;
    padding-top: 15px;
    position: relative;
    top:9px;
    border:1px;
}

#topbar{
    font-size: 80px;
    
    width:100%;
}

#title{
    top:-20px;
}

#topwithborder{
    border: 2px, solid, green;
    
}

#border{
    height:100px;
    position: relative;
    top:13px;
}

.navigation{
    height:50px;
    background-color: rgb(30, 30, 56);
    position: relative;
    top:-10px;
    color: rgb(158, 215, 233);
   
    
}

.tabs{
    float: left;
    margin:10px;
    
    font-size: 25px;
    border: 2px, solid, green;
    width:100px;
    height: 46px;
    position: relative;
    top:-8px;
    text-align: center;
}

.active{
    background-color: rgb(231, 171, 231);
    color: rgb(8, 73, 73);
    text-align: center;
    
}

#options{
    margin-left: 500px;
    text-align: center;
}
#navtext{
    position: relative;
    top:6px;
    
}

.btn {
    background: rgb(34, 154, 202);
    height: 40px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 25px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Viga', sans-serif;
    position: relative;
    top: 5px;
    margin-left: 19px;
    left:40px;
  }

  #btn-submit {
    background: rgb(34, 154, 202);
    height: 80px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 25px;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Viga', sans-serif;
    position: relative;
    left:600x;
  }


.content{
    width:1000px;
    height:500px;
    
    margin: 0 auto;
    align-items: center;
}

#bookform{
    position: relative;
}

.form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }

  a{
      text-decoration: none;
    color: rgb(158, 215, 233);
    
  }
  a:hover{
      text-decoration: underline;
  }
  
  .form-input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border:none;
    width: 50%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }

  input[type="date"]:before {
    content: attr(placeholder) !important;
    color: rgb(7, 3, 3);
    margin-right: 0.5em;
    opacity: 0.7;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
